@page "/"

<MatH4>Report Activity</MatH4>

<MatButton Icon="@MatIconNames.Add" Label="Add Document"></MatButton>

<MatTable Items="@cars" class="mat-elevation-z5">
    <MatTableHeader>
        <th>Name</th>
        <th>Price</th>
        <th>Horsepower</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Name</td>
        <td>@String.Format("${0:f2}", @context.Price)</td>
        <td>@context.Horsepower</td>
    </MatTableRow>
</MatTable>